* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}


.classe {
    height: 100vh;
    width: 100vw;
}

.classe1 {
    display: inline-block;
    width: 60%;
    padding-left: 100px;
    margin-top: 10%;

}

.classe2 {
    display: inline-block;
    background-color: rgba(144, 244, 146, 0.349);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 25%;
    right: 235px;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #03bb85;
    width: 368px;
}

p {
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #03bb85;
    opacity: 0.6;
    margin: 15px 0px;
    width: 540px;
}

button {
    width: 269px;
    height: 62px;
    background: rgba(92, 168, 93, 0.695);
    box-shadow: 0px 10px 24px rgba(rgb(0, 255, 145), green, blue);
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color:#ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

button:active {
     opacity: 0.5;
}

a {
    font-size: 28px;
    line-height: 41px;
    color: rgb(92, 168, 93);
    margin-right: 41px;
    cursor: pointer;

}
a:hover {
    opacity: 0.4;
}
a:active {
    opacity: 0.8;
}

header {
    margin: 4 0 0 57px;
}
